<a id="logo" class="navbar-brand" href="<%= hyrax.root_path %>" data-no-turbolink="true">
  <img alt="Linn-Benton Community College" src="logo.png"></img>
  <span class="institution_name"><%= application_name %></span>
</a>

